.Main {
    margin-top: 200px;
    margin-left: 100px;
}

.Canvas {
    background-color: transparent;
    /*height: 300px;*/
    /*width: 100%;*/
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    display: none;
}

@media (min-width: 530px){

    .Main {
        margin-left: 150px;
    }

    .Canvas {
        display: block;
    }
}

@media (min-width: 960px){

    .Main {
        margin-left: 200px;
    }
}
