@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

.Navbar {
    height: 100%;
    width: 62px;
    position: fixed;
    z-index: 1;
    top: 0;
    /*border-right: 1px solid black;*/
    /*background-color: #101819 ;*/
    background-color: rgba(255, 255, 255, 0.9);
}

.Logo {
    z-index: 100;
}

.Logo img {
    width: 100%;
    margin: auto;
}

.Logo:hover {
    animation: LogoAnimation 1.5s linear infinite;
}

@keyframes LogoAnimation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg) ;
    }
}

.NavButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    margin-top: 50px;
    text-align: center;
}

.NavButtons div {
    display: block;
}

.SecondaryNav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 30%;
    text-align: center;
    bottom: 0;
    position: absolute;
    margin-bottom: 25px;
}

.MobileNav {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.HamburgerMenuContainer {
    display: none;
}

@media (max-width: 960px) {
    .Navbar {
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        /*border-right: 1px solid black;*/
        /*background-color: #101819 ;*/
    }


    .Logo  {
        height: 100%;
        max-width: 62px;
        display: inline-block;
    }

    .NavButtons {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        text-align: center;
        margin: auto auto auto -50px;
    }

    .SecondaryNav {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 100%;
        width: 10%;
        right: 20px;
        position: absolute;
        text-align: center;
        margin: auto auto auto -50px;
        animation: SecondaryAppear .5s linear;
    }


    @keyframes SecondaryAppear {
        from {
            opacity: 0;
            transform: translate(50px);
        }

        to {
            opacity: 1;
            transform: translate(0px);
        }
    }
}

@media (max-width: 531px){
    .NavButtons {
        display: none;
    }

    .SecondaryNav {
        display: none;
    }

    .HamburgerMenuContainer {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .MobileNav {
        display: block;
        /*animation: slide 1.5s linear;*/
        transform: translate(100%);
    }

    .MobileNavShow {
        transform: translate(0%);
        transition: transform 0.5s ease-in-out;
    }

    .MobileNavHide {
        transform: translate(100%);
        transition: transform 0.5s ease-in-out;
    }

}
