@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

.Navbar {
    height: 100%;
    width: 62px;
    position: fixed;
    z-index: 1;
    top: 0;
    /*border-right: 1px solid black;*/
    /*background-color: #101819 ;*/
}


.Logo img {
    width: 80%;
}

.NavButtons {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    margin-top: 50px;
    text-align: center;
}

.NavButtons div {
    display: block;
}
